build/RSQLite.Rcheck
build/RSQLite_*.tar.gz
.Rproj.user
.Rhistory
src/*.so
src/*.o
src/Makevars
inst/include
config.status
a.out.dSYM
[.].*.swp
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
