.Rproj.user
.Rhistory
src/*.so
src/*.d
src/**/*.o
src/**/*.a
config.status
a.out.dSYM
autom4te.cache
inst/doc
/revdep/.cache.rds
/.metadata
/.settings
/src/.*
/src/*.h.gch
/*.pro*
/Debug/
.RData
/clion-test.R
/.drake
