import(methods)
import(DBI)

useDynLib(RSQLite)

## Classes
exportClasses(
   dbObjectId,
   SQLiteObject,
   SQLiteDriver,
   SQLiteConnection,
   SQLiteResult
)

## Methods/Generics
exportMethods(
   coerce,
   dbBeginTransaction,
   dbCallProc,
   dbClearResult,
   dbColumnInfo,
   dbCommit,
   dbConnect,
   dbDataType,
   dbDisconnect,
   dbExistsTable,
   dbGetException,
   dbGetInfo,
   dbGetPreparedQuery,
   dbGetQuery,
   dbGetRowCount,
   dbGetRowsAffected,
   dbGetStatement,
   dbHasCompleted,
   dbListConnections,
   dbListFields,
   dbListResults,
   dbListTables,
   dbReadTable,
   dbRemoveTable,
   dbRollback,
   dbSendPreparedQuery,
   dbSendQuery,
   dbUnloadDriver,
   dbWriteTable,
   fetch,
   initialize,
   isSQLKeyword,
   make.db.names,
   show,
   SQLKeywords,
   summary
)

## regular functions (most of these will be made private)
export(
  SQLite,
  dbBuildTableDefinition,
  isIdCurrent,
  sqliteInitDriver,
  sqliteCloseDriver,
  sqliteDescribeDriver,
  sqliteDriverInfo,
  sqliteNewConnection,
  sqliteDescribeConnection,
  sqliteCloseConnection,
  sqliteConnectionInfo,
  sqliteExecStatement,
  sqliteQuickSQL,
  sqliteFetch,
  sqliteResultInfo,
  sqliteDescribeResult,
  sqliteCloseResult,
  sqliteTableFields,
  sqliteReadTable,
  sqliteWriteTable,
  sqliteDataType,
  sqliteCopyDatabase,
  safe.write
)

## constants
export(SQLITE_RWC, SQLITE_RW, SQLITE_RO)
